/*
 * Title:  NBS style sheef
 * Author:  sumith s nair
 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/*Margin And Padding settings */
.margin-top-35{
	margin-top:35px; 
}
.margin-top-30{
	margin-top:30px; 
}
.padding-top-20{
	padding-top:20px; 
}
.padding-top-10{
	padding-top:10px; 
}
.padding-left-40{
	padding-left:40px;
}
.padding-left-right-5{
	padding:0 5px 0 5px;
}
.padding-left-right-10{
	padding:0 10px 0 10px
}
.padding-left-right-40{
	padding:0 40px !important;
}
.margin-bottom-10{
	margin-bottom:10px !important;
}


.navbar.navbar-default{
    background-color: #99d9ea;
}

.topnav{
	background-color:#f1f1f1;
	border-bottom:4px solid #ff5f01;
	height:60px;
}
.topnav p{
	font-size: 14px;
    line-height: 45px;
    color: #333232;
}
.slide-text p{
	color:white !important;
}
.blue-menu{
	height:50px;
	background-color:#14cff0;
	 box-shadow: 5px 10px 10px;
}
.news-div{
	background-color:#226093;
	color:white;
	padding-top:20px;
}
.news-div h3{
	color:white !important;
	font-weight: bold;

}
.nbs-slider .owl-buttons{
	/*display:none;*/
}
/*Quick Connect Styles*/

.header-text{
    color:#144b6f;
    margin-bottom: 1px;
}

.btn-nbs{
	border: none;
    color: #fff;
    cursor: pointer;
    padding: 0 30px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 600;
    background: #fab20b;
    font-size: 0.9167em;
    height: 42px;
    line-height: 42px;
    -moz-border-radius: 21px 21px 21px 21px;
    -ms-border-radius: 21px 21px 21px 21px;
    margin-right: 5px;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    vertical-align: baseline;
}
.qick-form-backgrond{
	background-color:#013358;
	padding:5px 10px 2px 10px;

}
.quick-connect-head{
	background-color:#fbbf18;
	color:#fff !important;
}
.qick-form-title-bcakground{
	background-color:#fbbf18;
	width:100%;
}

.logo-nbs{
	position:absolute;
	z-index:1;
	

}

.nbs-author-name{
color: #ff6600;
font-size:15px;
}
.nbs-author-desc{
      font-size: 13px;
    text-transform: uppercase;
}
.about-author-content p{
  color:#232323;
  padding-top: 10px;
  font-size: 14px;
}
.post-content{
  padding-top:0 !important;
}
.post-content p{
  color: #101010;
  font-size: 14px;


}
/*Slider Styles*/

.slider-under-text{
	color:#fff;
	font-size:15px;
	background-color:#fbbf18;
	width:100%;

}
.slider-box-border{
	border: 1px solid #e6e6e6;
}
.process-title{
	font-size:17px;
	font-weight:600;
}
/*Common Styles*/
.font-color-white{
 color:#fff;
}
.font-color-yellow{
	color:#f9b31f;
}
.font-color-black{
	color:black;
}
.font-color-orange{
	color:#fa7f27;
}
.section-heading{
	font-size:40px;
	font-weight:700;
	color:#102431;
}
.section-heading-2{
	font-size:28px;
	font-weight:700;
	color:#102431;
}
.section-heading-3{
	font-size:36px;
	font-weight:700;
	color:#fff;
}
.background-color{
	background:#eaeaea;
}
.background-color-blue{
	background:#013358;
}

.news-head{
  padding:10px 0 0 15px; 
	
}
.border-bottom-thick-yellow{
	border-bottom:solid 2px #f3bd27;
}
.border-bottom-tin-grey{
	border-bottom:solid 1px #868686;
}
hr.color-heading-grey{
	border-color: #868686;
    border-width: 1px;
}
hr.color-heading-yellow{
	border-color: #fab20b;
    border-width: 3px;
}
.teamMemberImage{
	height: 78px;
}

.testimonials .owl-wrapper .owl-item{
	height:190px !important;
}

.mba-prgm-a{
	font-size: large !important;
}
.gallery-name {
    padding-top: 15px;
}
.management-pic span{
	-webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    border: 6px solid #fff;
    display: block;
    width: 146px;
    height: 146px;
}
.management-pic img{
	-webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    width: 100%;
}
@media screen and (max-width: 600px){
	.only{
		visibility: hidden;
		clear: both;
		float: left;
		margin-left: 10px auto 5px 20px;
		width: 28%;
		display: none !important;
	}
	.teamMemberImage{
		height:auto;
	}
	.topnav{
		display:none;
	}
	.slide-text{
		display:none;
	}
	.owl-wrapper-outer{
		height:auto !important;
	}
	.news-div h3{
		text-align:left;
	}
	.blue-menu{
		/*display:none;*/
	}
}
